<div class="row">
		<div class="col-md-9">

			<table class="table table-bordered table-hover">
			    <thead>
			        <tr>
			            <th>Ticker</th>
			            <th>Name</th>
			            <th>Price</th>
			            <th>Actions</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<% @tracked_stocks.each do |stock| %>
				        <tr>
				            <td><%= stock.ticker %></td>
				            <td><%= stock.name %></td>
				            <td><%= stock.last_price %></td>
				            <td><%= 'Action placeholder' %></td>
				        </tr>
			        <% end %>
			    </tbody>
			</table>
			
		</div>
	</div>
